<div>
    <h1>Login</h1>

    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <br />
        <label>Contraseña</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <p>Si no tienes cuenta <a href="/users/register">regístrate aquí</a></p>
</div>

<script src="/js/login.js"></script>